*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
ul {
	list-style-type: none;
}

body {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr;
	background-color: rgb(240, 240, 240);
}

.header {
	grid-column: 2/3;
	background-color: white;
}

.main-content {
	grid-column: 2/3;
	gap: 30px;
	padding: 30px;
}

.sidebar {
	grid-column: 1;
	grid-row: 1/4;
	background-color: #1992d4;
	color: white;

	& ul {
		margin-top: 50px;
	}
}

.menu,
.secondary-menu {
	display: grid;
	gap: 15px;
	& img {
		width: 20px;
		filter: invert(100%);
		margin-right: 10px;
	}

	& li {
		display: flex;
		align-items: center;
		font-weight: bold;
	}
}

.header {
	display: grid;
}

search,
.user-info {
	grid-row: 1;
}

.greeting,
.buttons {
	grid-row: 2;
}

h3 {
	font-size: 14px;
}

h1 {
	font-size: 25px;
}

.header > div.buttons {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 150px;
	place-items: center;
}

div.buttons,
.user-info {
	margin-left: auto;
}

.main-content {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.projects {
	grid-column: 1;
}

.announcements,
.trending {
	grid-column: 2;
}

.project-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 1fr;
	gap: 30px;

	& div {
		background-color: white;
	}
}

.logo {
	display: flex;
	align-items: center;

	& img {
		width: 50px;
		filter: invert(100%);
		margin-right: 15px;
	}
}

.buttons > button {
	padding: 5px 35px;
	border-radius: 20px;
	border: none;
	background-color: #1992d4;
	color: white;
	font-weight: bold;
}

.user-info > img {
	width: 20px;
}

.project-cards img {
	width: 20px;
}

.project-cards > div > div:nth-child(2) {
	display: grid;
	gap: 20px;
	grid-auto-flow: column;
	place-content: end;
}

.announcement-cards,
.trending-cards {
	background-color: white;
	padding: 20px;
}

.project-cards > div {
	padding: 20px;
	display: grid;
	border-radius: 15px;
	border-left: 10px solid #f0b429;

	& h2 {
		margin-bottom: 5px;
	}
}
